In [17]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=r"C:\Users\Tammana Triveni\Downloads\black-seer-454106-e1-4bafb35faab6.json"

print(os.environ["GOOGLE_APPLICATION_CREDENTIALS"])

BQ_PROJECT = "black-seer-454106-e1"
BQ_DATASET = "DataPipeline"

C:\Users\Tammana Triveni\Downloads\black-seer-454106-e1-4bafb35faab6.json

In [18]:
# !pip install pandas faker
import os
print(os.getcwd())

os.chdir(r'C:\Users\Tammana Triveni\Music\EcommProject\EcommProject')  # Replace with your desired path
print(os.getcwd())

C:\Users\Tammana Triveni\Music\EcommProject\EcommProject
C:\Users\Tammana Triveni\Music\EcommProject\EcommProject

In [19]:
import os
import pandas as pd
from IPython.display import display
dataSetPath = "./RawData/"
df_dict : dict[str,pd.DataFrame]= {}

for dataset in os.listdir(dataSetPath):
    print(f"Dataset: {dataset}")
    df = pd.read_csv(dataSetPath + dataset)

    df_dict[dataset.removesuffix(".csv")] = df
    display(df.head())

Dataset: customers_dataset.csv

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

Dataset: geolocation_dataset.csv

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

Dataset: orders_dataset.csv

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

Dataset: order_items_dataset.csv

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

Dataset: order_payments_dataset.csv

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

Dataset: order_reviews_dataset.csv

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

Dataset: products_dataset.csv

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

Dataset: product_category_name_translation.csv

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

Dataset: sellers_dataset.csv

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [20]:
customers_df = df_dict["customers_dataset"]
geolocation_df = df_dict["geolocation_dataset"]
order_items_df = df_dict["order_items_dataset"]
order_payments_df = df_dict["order_payments_dataset"]
order_reviews_df = df_dict["order_reviews_dataset"]
orders_df = df_dict["orders_dataset"]
product_category_name_translation_df = df_dict["product_category_name_translation"]
products_df = df_dict["products_dataset"]
sellers_df = df_dict["sellers_dataset"]

In [21]:

for dataset in df_dict:
    print(f"Dataset: {dataset}")
    display(df_dict[dataset].info())
    display(df_dict[dataset].isna().sum())
    print(f"Duplicates: {dataset}")
    display(df_dict[dataset].duplicated().sum())

Dataset: customers_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

None

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

Duplicates: customers_dataset

0

Dataset: geolocation_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

None

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

Duplicates: geolocation_dataset

261831

Dataset: orders_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

None

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

Duplicates: orders_dataset

0

Dataset: order_items_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

None

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

Duplicates: order_items_dataset

0

Dataset: order_payments_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

None

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

Duplicates: order_payments_dataset

0

Dataset: order_reviews_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

None

review_id                      0
order_id                       0
review_score                   0
review_comment_title       88285
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

Duplicates: order_reviews_dataset

0

Dataset: products_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

None

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

Duplicates: products_dataset

0

Dataset: product_category_name_translation
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

None

product_category_name            0
product_category_name_english    0
dtype: int64

Duplicates: product_category_name_translation

0

Dataset: sellers_dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

None

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

Duplicates: sellers_dataset

0

In [22]:
# geolocation_df duplicates removing

geolocation_df.drop_duplicates(subset=["geolocation_zip_code_prefix"], keep="first", inplace=True)
geolocation_df.duplicated(subset=["geolocation_zip_code_prefix"]).sum()

0

In [23]:
#Missing Value
print(orders_df.isna().sum())
orders_df.ffill(inplace=True)
print(orders_df.isna().sum())

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64
order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [24]:
print(order_reviews_df.isna().sum() / len(order_reviews_df) * 100) # % of nan values
order_reviews_df.drop(columns=["review_comment_title", "review_comment_message"], inplace=True)
order_reviews_df.isna().sum()

review_id                   0.000
order_id                    0.000
review_score                0.000
review_comment_title       88.285
review_comment_message     58.247
review_creation_date        0.000
review_answer_timestamp     0.000
dtype: float64

review_id                  0
order_id                   0
review_score               0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

In [25]:
print(products_df.isna().sum())
products_df.ffill(inplace=True)
print(products_df.isna().sum())

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64
product_id                    0
product_category_name         0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
dtype: int64

In [26]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99441 non-null  object
 5   order_delivered_carrier_date   99441 non-null  object
 6   order_delivered_customer_date  99441 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [27]:
orders_df[[
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date"
]] = orders_df[[
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date"
]].apply(pd.to_datetime)
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99441 non-null  datetime64[ns]
 5   order_delivered_carrier_date   99441 non-null  datetime64[ns]
 6   order_delivered_customer_date  99441 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [28]:
order_reviews_df.head()
order_reviews_df[
    ["review_creation_date", "review_answer_timestamp"]
] = order_reviews_df[
    ["review_creation_date", "review_answer_timestamp"]
].apply(pd.to_datetime)
order_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_creation_date     100000 non-null  datetime64[ns]
 4   review_answer_timestamp  100000 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 3.8+ MB

In [29]:
df_dict

{'customers_dataset':                             customer_id                customer_unique_id  \
 0      06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
 1      18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
 2      4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
 3      b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
 4      4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
 ...                                 ...                               ...
 99436  17ddf5dd5d51696bb3d7c6291687be6f  1a29b476fee25c95fbafc67c5ac95cf8
 99437  e7b71a9017aa05c9a7fd292d714858e8  d52a67c98be1cf6a5c84435bd38d095d
 99438  5e28dfe12db7fb50a4b2f691faecea5e  e9f50caf99f032f0bf3c55141f019d99
 99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e
 99440  274fa6071e5e17fe303b9748641082c8  84732c5050c01db9b23e19ba39899398

        customer_zip_code_prefix          customer_city customer_state
 0                         14409                 franca             SP
 1                          9790  sao bernardo do campo             SP
 2                          1151              sao paulo             SP
 3                          8775        mogi das cruzes             SP
 4                         13056               campinas             SP
 ...                         ...                    ...            ...
 99436                      3937              sao paulo             SP
 99437                      6764        taboao da serra             SP
 99438                     60115              fortaleza             CE
 99439                     92120                 canoas             RS
 99440                      6703                  cotia             SP

 [99441 rows x 5 columns],
 'geolocation_dataset':         geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
 0                              1037       -23.545621       -46.639292
 1                              1046       -23.546081       -46.644820
 3                              1041       -23.544392       -46.639499
 4                              1035       -23.541578       -46.641607
 5                              1012       -23.547762       -46.635361
 ...                             ...              ...              ...
 999774                        99955       -28.107588       -52.144019
 999780                        99970       -28.345143       -51.876926
 999786                        99910       -27.863500       -52.084760
 999803                        99920       -27.858716       -52.300403
 999846                        99952       -28.160371       -51.936922

             geolocation_city geolocation_state
 0                  sao paulo                SP
 1                  sao paulo                SP
 3                  sao paulo                SP
 4                  sao paulo                SP
 5                  são paulo                SP
 ...                      ...               ...
 999774          vila langaro                RS
 999780               ciriaco                RS
 999786      floriano peixoto                RS
 999803              erebango                RS
 999846  santa cecilia do sul                RS

 [19015 rows x 5 columns],
 'orders_dataset':                                order_id                       customer_id  \
 0      e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
 1      53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
 2      47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
 3      949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
 4      ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c
 ...                                 ...                               ...
 99436  9c5dedf39a927c1b2549525ed64a053c  39bd1228ee8140590ac3aca26f2dfe00
 99437  63943bddc261676b46f01ca7ac2f7bd8  1fca14ff2861355f6e5f14306ff977a7
 99438  83c1379a015df1e13d02aae0204711ab  1aa71eb042121263aafbe80c1b562c9c
 99439  11c177c8e97725db2631073c19f07b62  b331b74b18dc79bcdf6532d51e1637c1
 99440  66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24

       order_status order_purchase_timestamp   order_approved_at  \
 0        delivered      2017-10-02 10:56:33 2017-10-02 11:07:15
 1        delivered      2018-07-24 20:41:37 2018-07-26 03:24:27
 2        delivered      2018-08-08 08:38:49 2018-08-08 08:55:23
 3        delivered      2017-11-18 19:28:06 2017-11-18 19:45:59
 4        delivered      2018-02-13 21:18:39 2018-02-13 22:20:29
 ...            ...                      ...                 ...
 99436    delivered      2017-03-09 09:54:05 2017-03-09 09:54:05
 99437    delivered      2018-02-06 12:58:58 2018-02-06 13:10:37
 99438    delivered      2017-08-27 14:46:43 2017-08-27 15:04:16
 99439    delivered      2018-01-08 21:28:27 2018-01-08 21:36:21
 99440    delivered      2018-03-08 20:57:30 2018-03-09 11:20:28

       order_delivered_carrier_date order_delivered_customer_date  \
 0              2017-10-04 19:55:00           2017-10-10 21:25:13
 1              2018-07-26 14:31:00           2018-08-07 15:27:45
 2              2018-08-08 13:50:00           2018-08-17 18:06:29
 3              2017-11-22 13:39:59           2017-12-02 00:28:42
 4              2018-02-14 19:46:34           2018-02-16 18:17:02
 ...                            ...                           ...
 99436          2017-03-10 11:18:03           2017-03-17 15:08:01
 99437          2018-02-07 23:22:42           2018-02-28 17:37:56
 99438          2017-08-28 20:52:26           2017-09-21 11:24:17
 99439          2018-01-12 15:35:03           2018-01-25 23:32:54
 99440          2018-03-09 22:11:59           2018-03-16 13:08:30

       order_estimated_delivery_date
 0                        2017-10-18
 1                        2018-08-13
 2                        2018-09-04
 3                        2017-12-15
 4                        2018-02-26
 ...                             ...
 99436                    2017-03-28
 99437                    2018-03-02
 99438                    2017-09-27
 99439                    2018-02-15
 99440                    2018-04-03

 [99441 rows x 8 columns],
 'order_items_dataset':                                 order_id  order_item_id  \
 0       00010242fe8c5a6d1ba2dd792cb16214              1
 1       00018f77f2f0320c557190d7a144bdd3              1
 2       000229ec398224ef6ca0657da4fc703e              1
 3       00024acbcdf0a6daa1e931b038114c75              1
 4       00042b26cf59d7ce69dfabb4e55b4fd9              1
 ...                                  ...            ...
 112645  fffc94f6ce00a00581880bf54a75a037              1
 112646  fffcd46ef2263f404302a634eb57f7eb              1
 112647  fffce4705a9662cd70adb13d4a31832d              1
 112648  fffe18544ffabc95dfada21779c9644f              1
 112649  fffe41c64501cc87c801fd61db3f6244              1

                               product_id                         seller_id  \
 0       4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
 1       e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
 2       c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
 3       7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
 4       ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87
 ...                                  ...                               ...
 112645  4aa6014eceb682077f9dc4bffebc05b0  b8bc237ba3788b23da09c0f1f3a3288c
 112646  32e07fd915822b0765e448c4dd74c828  f3c38ab652836d21de61fb8314b69182
 112647  72a30483855e2eafc67aee5dc2560482  c3cfdc648177fdbbbb35635a37472c53
 112648  9c422a519119dcad7575db5af1ba540e  2b3e4a2a3ea8e01938cabda2a3e5cc79
 112649  350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1

         shipping_limit_date   price  freight_value
 0       2017-09-19 09:45:35   58.90          13.29
 1       2017-05-03 11:05:13  239.90          19.93
 2       2018-01-18 14:48:30  199.00          17.87
 3       2018-08-15 10:10:18   12.99          12.79
 4       2017-02-13 13:57:51  199.90          18.14
 ...                     ...     ...            ...
 112645  2018-05-02 04:11:01  299.99          43.41
 112646  2018-07-20 04:31:48  350.00          36.53
 112647  2017-10-30 17:14:25   99.90          16.95
 112648  2017-08-21 00:04:32   55.99           8.72
 112649  2018-06-12 17:10:13   43.00          12.79

 [112650 rows x 7 columns],
 'order_payments_dataset':                                 order_id  payment_sequential payment_type  \
 0       b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
 1       a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
 2       25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
 3       ba78997921bbcdc1373bb41e913ab953                   1  credit_card
 4       42fdf880ba16b47b59251dd489d4441a                   1  credit_card
 ...                                  ...                 ...          ...
 103881  0406037ad97740d563a178ecc7a2075c                   1       boleto
 103882  7b905861d7c825891d6347454ea7863f                   1  credit_card
 103883  32609bbb3dd69b3c066a6860554a77bf                   1  credit_card
 103884  b8b61059626efa996a60be9bb9320e10                   1  credit_card
 103885  28bbae6599b09d39ca406b747b6632b1                   1       boleto

         payment_installments  payment_value
 0                          8          99.33
 1                          1          24.39
 2                          1          65.71
 3                          8         107.78
 4                          2         128.45
 ...                      ...            ...
 103881                     1         363.31
 103882                     2          96.80
 103883                     1          47.77
 103884                     5         369.54
 103885                     1         191.58

 [103886 rows x 5 columns],
 'order_reviews_dataset':                               review_id                          order_id  \
 0      7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
 1      80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
 2      228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
 3      e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
 4      f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1
 ...                                 ...                               ...
 99995  f3897127253a9592a73be9bdfdf4ed7a  22ec9f0669f784db00fa86d035cf8602
 99996  b3de70c89b1510c4cd3d0649fd302472  55d4004744368f5571d1f590031933e4
 99997  1adeb9d84d72fe4e337617733eb85149  7725825d039fc1f0ceb7635e3f7d9206
 99998  be360f18f5df1e0541061c87021e6d93  f8bd3f2000c28c5342fedeb5e50f2e75
 99999  efe49f1d6f951dd88b51e6ccd4cc548f  90531360ecb1eec2a1fbb265a0db0508

        review_score review_creation_date review_answer_timestamp
 0                 4           2018-01-18     2018-01-18 21:46:59
 1                 5           2018-03-10     2018-03-11 03:05:13
 2                 5           2018-02-17     2018-02-18 14:36:24
 3                 5           2017-04-21     2017-04-21 22:02:06
 4                 5           2018-03-01     2018-03-02 10:26:53
 ...             ...                  ...                     ...
 99995             5           2017-12-09     2017-12-11 20:06:42
 99996             5           2018-03-22     2018-03-23 09:10:43
 99997             4           2018-07-01     2018-07-02 12:59:13
 99998             1           2017-12-15     2017-12-16 01:29:43
 99999             1           2017-07-03     2017-07-03 21:01:49

 [100000 rows x 5 columns],
 'products_dataset':                              product_id              product_category_name  \
 0      1e9e8ef04dbcff4541ed26657ea517e5                         perfumaria
 1      3aa071139cb16b67ca9e5dea641aaa2f                              artes
 2      96bd76ec8810374ed1b65e291975717f                      esporte_lazer
 3      cef67bcfe19066a932b7673e239eb23d                              bebes
 4      9dc1a7de274444849c219cff195d0b71              utilidades_domesticas
 ...                                 ...                                ...
 32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao
 32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao
 32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho
 32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios
 32950  106392145fca363410d287a815be6de4                    cama_mesa_banho

        product_name_lenght  product_description_lenght  product_photos_qty  \
 0                     40.0                       287.0                 1.0
 1                     44.0                       276.0                 1.0
 2                     46.0                       250.0                 1.0
 3                     27.0                       261.0                 1.0
 4                     37.0                       402.0                 4.0
 ...                    ...                         ...                 ...
 32946                 45.0                        67.0                 2.0
 32947                 41.0                       971.0                 1.0
 32948                 50.0                       799.0                 1.0
 32949                 60.0                       156.0                 2.0
 32950                 58.0                       309.0                 1.0

        product_weight_g  product_length_cm  product_height_cm  \
 0                 225.0               16.0               10.0
 1                1000.0               30.0               18.0
 2                 154.0               18.0                9.0
 3                 371.0               26.0                4.0
 4                 625.0               20.0               17.0
 ...                 ...                ...                ...
 32946           12300.0               40.0               40.0
 32947            1700.0               16.0               19.0
 32948            1400.0               27.0                7.0
 32949             700.0               31.0               13.0
 32950            2083.0               12.0                2.0

        product_width_cm
 0                  14.0
 1                  20.0
 2                  15.0
 3                  26.0
 4                  13.0
 ...                 ...
 32946              40.0
 32947              16.0
 32948              27.0
 32949              20.0
 32950               7.0

 [32951 rows x 9 columns],
 'product_category_name_translation':             product_category_name product_category_name_english
 0                    beleza_saude                 health_beauty
 1          informatica_acessorios         computers_accessories
 2                      automotivo                          auto
 3                 cama_mesa_banho                bed_bath_table
 4                moveis_decoracao               furniture_decor
 ..                            ...                           ...
 66                         flores                       flowers
 67             artes_e_artesanato         arts_and_craftmanship
 68                fraldas_higiene           diapers_and_hygiene
 69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
 70             seguros_e_servicos         security_and_services

 [71 rows x 2 columns],
 'sellers_dataset':                              seller_id  seller_zip_code_prefix  \
 0     3442f8959a84dea7ee197c632cb2df15                   13023
 1     d1b65fc7debc3361ea86b5f14c68d2e2                   13844
 2     ce3ad9de960102d0677a81f5d0bb7b2d                   20031
 3     c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
 4     51a04a8a6bdcb23deccc82b0b80742cf                   12914
 ...                                ...                     ...
 3090  98dddbc4601dd4443ca174359b237166                   87111
 3091  f8201cab383e484733266d1906e2fdfa                   88137
 3092  74871d19219c7d518d0090283e03c137                    4650
 3093  e603cf3fec55f8697c9059638d6c8eb5                   96080
 3094  9e25199f6ef7e7c347120ff175652c3b                   12051

             seller_city seller_state
 0              campinas           SP
 1            mogi guacu           SP
 2        rio de janeiro           RJ
 3             sao paulo           SP
 4     braganca paulista           SP
 ...                 ...          ...
 3090            sarandi           PR
 3091            palhoca           SC
 3092          sao paulo           SP
 3093            pelotas           RS
 3094            taubate           SP

 [3095 rows x 4 columns]}

In [34]:
from google.cloud import bigquery
import ConnectBigQuery
# Set up BigQuery client
client = bigquery.Client()

# Define BigQuery dataset and table

BQ_PROJECT = "black-seer-454106-e1"
BQ_DATASET = "DataPipeline"
# BQ_TABLE = "orders"

# table_id = f"{BQ_PROJECT}.{BQ_DATASET}"

In [35]:
# Upload DataFrame to BigQuery
dflist = {"customers":customers_df,
          "geolocation":geolocation_df,
          "order_items":order_items_df,
            "order_payments":order_payments_df,
            "order_reviews":order_reviews_df,
            "Orders":orders_df,
            "product_category_name_translation":product_category_name_translation_df,
            "products":products_df,
            "sellers":sellers_df
            }
for i,j in dflist.items():
    table_id = f"{BQ_PROJECT}.{BQ_DATASET}.{i}"
    job = client.load_table_from_dataframe(j, table_id, job_config=bigquery.LoadJobConfig(
        write_disposition="WRITE_TRUNCATE"  # Overwrites table if exists
    ))

    # Wait for the job to complete
    job.result()

    print(f"{i} Data uploaded successfully to BigQuery!")

C:\Users\Tammana Triveni\anaconda3\Lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

customers Data uploaded successfully to BigQuery!

C:\Users\Tammana Triveni\anaconda3\Lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

geolocation Data uploaded successfully to BigQuery!

C:\Users\Tammana Triveni\anaconda3\Lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

order_items Data uploaded successfully to BigQuery!

C:\Users\Tammana Triveni\anaconda3\Lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

order_payments Data uploaded successfully to BigQuery!

C:\Users\Tammana Triveni\anaconda3\Lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

order_reviews Data uploaded successfully to BigQuery!

C:\Users\Tammana Triveni\anaconda3\Lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

Orders Data uploaded successfully to BigQuery!

C:\Users\Tammana Triveni\anaconda3\Lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

product_category_name_translation Data uploaded successfully to BigQuery!

C:\Users\Tammana Triveni\anaconda3\Lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

products Data uploaded successfully to BigQuery!

C:\Users\Tammana Triveni\anaconda3\Lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(

sellers Data uploaded successfully to BigQuery!

In [ ]:
# !pip install pandas_gbq

Collecting pandas_gbq
  Downloading pandas_gbq-0.28.0-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: setuptools in c:\users\tammana triveni\anaconda3\lib\site-packages (from pandas_gbq) (75.1.0)
Requirement already satisfied: db-dtypes<2.0.0,>=1.0.4 in c:\users\tammana triveni\anaconda3\lib\site-packages (from pandas_gbq) (1.4.2)
Requirement already satisfied: numpy>=1.18.1 in c:\users\tammana triveni\anaconda3\lib\site-packages (from pandas_gbq) (1.26.4)
Requirement already satisfied: pandas>=1.1.4 in c:\users\tammana triveni\anaconda3\lib\site-packages (from pandas_gbq) (2.2.2)
Requirement already satisfied: pyarrow>=4.0.0 in c:\users\tammana triveni\anaconda3\lib\site-packages (from pandas_gbq) (16.1.0)
Collecting pydata-google-auth>=1.5.0 (from pandas_gbq)
  Downloading pydata_google_auth-1.9.1-py2.py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.10.2 in c:\users\tammana triveni\anaconda3\lib\site-packages (from pandas_gbq) (2.24.2)
Requirement already satisfied: google-auth>=2.13.0 in c:\users\tammana triveni\anaconda3\lib\site-packages (from pandas_gbq) (2.38.0)
Collecting google-auth-oauthlib>=0.7.0 (from pandas_gbq)
  Downloading google_auth_oauthlib-1.2.1-py2.py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: google-cloud-bigquery<4.0.0dev,>=3.4.2 in c:\users\tammana triveni\anaconda3\lib\site-packages (from pandas_gbq) (3.30.0)
Requirement already satisfied: packaging>=22.0.0 in c:\users\tammana triveni\anaconda3\lib\site-packages (from pandas_gbq) (24.1)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas_gbq) (1.69.2)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas_gbq) (5.29.3)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas_gbq) (1.26.1)
Requirement already satisfied: requests<3.0.0,>=2.18.0 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas_gbq) (2.32.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-auth>=2.13.0->pandas_gbq) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-auth>=2.13.0->pandas_gbq) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-auth>=2.13.0->pandas_gbq) (4.9)
Collecting requests-oauthlib>=0.7.0 (from google-auth-oauthlib>=0.7.0->pandas_gbq)
  Downloading requests_oauthlib-2.0.0-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=2.4.1 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas_gbq) (2.4.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=2.0.0 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas_gbq) (2.7.2)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.3 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas_gbq) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tammana triveni\anaconda3\lib\site-packages (from pandas>=1.1.4->pandas_gbq) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tammana triveni\anaconda3\lib\site-packages (from pandas>=1.1.4->pandas_gbq) (2023.3)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas_gbq) (1.71.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-api-core[grpc]<3.0.0dev,>=2.11.1->google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas_gbq) (1.71.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\tammana triveni\anaconda3\lib\site-packages (from google-resumable-media<3.0dev,>=2.0.0->google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas_gbq) (1.7.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\tammana triveni\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas_gbq) (0.4.8)
Requirement already satisfied: six>=1.5 in c:\users\tammana triveni\anaconda3\lib\site-packages (from python-dateutil<3.0dev,>=2.7.3->google-cloud-bigquery<4.0.0dev,>=3.4.2->pandas_gbq) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\tammana triveni\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas_gbq) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tammana triveni\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas_gbq) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\tammana triveni\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas_gbq) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tammana triveni\anaconda3\lib\site-packages (from requests<3.0.0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas_gbq) (2024.8.30)
Collecting oauthlib>=3.0.0 (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas_gbq)
  Downloading oauthlib-3.2.2-py3-none-any.whl.metadata (7.5 kB)
Downloading pandas_gbq-0.28.0-py2.py3-none-any.whl (37 kB)
Downloading google_auth_oauthlib-1.2.1-py2.py3-none-any.whl (24 kB)
Downloading pydata_google_auth-1.9.1-py2.py3-none-any.whl (15 kB)
Downloading requests_oauthlib-2.0.0-py2.py3-none-any.whl (24 kB)
Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
Installing collected packages: oauthlib, requests-oauthlib, google-auth-oauthlib, pydata-google-auth, pandas_gbq
Successfully installed google-auth-oauthlib-1.2.1 oauthlib-3.2.2 pandas_gbq-0.28.0 pydata-google-auth-1.9.1 requests-oauthlib-2.0.0

In [36]:
orders_df["order_status"]

0        delivered
1        delivered
2        delivered
3        delivered
4        delivered
           ...
99436    delivered
99437    delivered
99438    delivered
99439    delivered
99440    delivered
Name: order_status, Length: 99441, dtype: object

In [37]:
import json
import time
import random
import pandas as pd
from faker import Faker
from IPython.display import display, clear_output

# Initialize Faker
fake = Faker()

# Define a variety of event types to simulate real customer behavior
EVENT_TYPES = [
    "page_view", "search_product", "view_product", "add_to_cart",
    "remove_from_cart", "wishlist_add", "wishlist_remove", "apply_coupon",
    "checkout", "purchase", "login", "logout"
]

# Create an empty DataFrame
columns = ["event_id", "user_id", "event_type", "product_id", "price", "timestamp"]
events_df = pd.DataFrame(columns=columns)

# Function to generate a fake event
def generate_event():
    event_type = random.choice(EVENT_TYPES)  # Randomly pick an event type
    
    # Some events might not have a product_id or price (e.g., login, logout)
    product_id = fake.uuid4() if event_type not in ["login", "logout"] else None
    price = round(random.uniform(5, 500), 2) if event_type in ["add_to_cart", "purchase", "apply_coupon", "checkout"] else None
    
    return {
        "event_id": fake.uuid4(),
        "user_id": fake.uuid4(),
        "event_type": event_type,
        "product_id": product_id,
        "price": price,
        "timestamp": pd.Timestamp.now().isoformat()
    }

# Simulate real-time events
for _ in range(20):  # Generate 20 events in real time
    new_event = generate_event()  # Generate a new event
    events_df = pd.concat([events_df, pd.DataFrame([new_event])], ignore_index=True)  # Append to DataFrame
    table_id = f"{BQ_PROJECT}.{BQ_DATASET}.events"
    # Clear previous output and display updated DataFrame
    clear_output(wait=True)
    display(events_df)
    job = client.load_table_from_dataframe(events_df,table_id,job_config=bigquery.LoadJobConfig(
        write_disposition = "WRITE_TRUNCATE"
    ))
    job.result()
    time.sleep(2)  # Simulate real-time event streaming (1-second delay)

,event_id,user_id,event_type,product_id,price,timestamp
0,eb48494c-eab4-4906-bc4b-7858ed22b751,c848d07d-8c1c-4a7e-823d-793ef4e4af53,login,None,NaN,2025-03-20T22:38:01.874984
1,414e42b5-9c26-45e9-9d2e-1ad8d7da3273,d1897991-1022-4226-a08e-ce86f5d43fba,checkout,8b1f54d7-9975-41cb-b4d9-46f9f05d0342,211.66,2025-03-20T22:38:07.569434
2,6c2067b3-49ec-482f-a59e-b376ee98cd6e,04290223-0b67-4027-b60b-12e6b612d8a3,logout,None,NaN,2025-03-20T22:38:12.466694
3,7d684625-34ed-452f-ac7e-f3c22029194d,e1824894-bada-42f7-b70b-78afff42da55,logout,None,NaN,2025-03-20T22:38:17.106677
4,cdc490a3-ff41-41bd-988d-e0fd3a69c4d8,fff3d559-0170-4748-be66-f8dfd33afef9,search_product,689258e5-990d-43e2-ad60-106fc596c640,NaN,2025-03-20T22:38:21.639980
5,e1e22293-770d-41ba-bd02-91a1e53334ca,e161f076-5783-48af-a34a-1046cb02466a,page_view,87babc21-8e83-46c7-bdad-6027738fab4a,NaN,2025-03-20T22:38:26.487179
6,d5258e79-b380-48bc-80b6-043f5d64ef94,c56e91ba-e96e-467a-9398-b792f71d7e6c,login,None,NaN,2025-03-20T22:38:30.895191
7,07736d55-d4b1-4824-8226-dc6d7d942cd2,2bdbcbc1-fbc8-490d-9124-e46ff8e30399,logout,None,NaN,2025-03-20T22:38:36.201266
8,a3084b5c-515a-4c04-ac33-ba972196e2c4,ff898541-697e-4100-ab52-6e5ff5eb7bd7,search_product,4e0c171b-a847-4899-a110-7489c31418f7,NaN,2025-03-20T22:38:41.276576
9,524e4b93-dd94-4e67-ac62-9aa03fa559e4,fe7d1e7a-6268-40d4-9a1e-62bbb1dbb39c,checkout,8bed761c-0441-4eb7-84e4-b50a02e6b570,219.48,2025-03-20T22:38:45.782181
10,4d4e0728-9dc8-4c25-80cd-4e5d7b5948d4,685bf7bf-53dc-4a8d-95e1-1426d6fd8505,logout,None,NaN,2025-03-20T22:38:50.300960
11,9bba93a6-f3e8-4b43-9f14-d7c1c12a5700,3de13d6f-60fb-4bde-8149-6b1259a7f1be,remove_from_cart,a5bc4b30-a428-4811-a587-5ce803e9c71b,NaN,2025-03-20T22:38:54.794154
12,a128fc5c-231f-4e53-bb50-279721808d30,2bf96d9f-dd21-47fc-b7f3-a688184a4075,add_to_cart,c041f6fc-7475-4d1a-93e8-03ad95387f47,94.45,2025-03-20T22:38:59.764330
13,18f7c908-e5d7-43bf-b298-01b5f1f75dac,60ab756d-a3e4-4084-863b-dbfd78cb4461,apply_coupon,2e2b349c-14c8-47a9-ba37-611c9ad855e0,487.91,2025-03-20T22:39:05.079332
14,d77dd487-f403-4278-b71b-45d9ad4e4366,6935072f-d859-4467-abe7-f663c9f4ad28,logout,None,NaN,2025-03-20T22:39:10.205366
15,84752f69-054d-4e36-805c-7ed748d69270,3e6c10e0-472f-4597-8cab-2b1031274cd6,purchase,cd1dcdc8-1904-4bee-95a7-ce1315592fec,50.56,2025-03-20T22:39:14.497888
16,713ed14e-fd55-4533-a7cc-abe9799aab98,8d02dbc9-0f63-4b3c-8154-fa542f1e5592,search_product,21e9a148-3cb4-449d-9d6b-9b57a9a54839,NaN,2025-03-20T22:39:18.684061
17,c82a3984-2bda-421d-bd32-1ea99fe6b615,b72faa35-cd7b-43a8-9543-ac6e71c12ef6,logout,None,NaN,2025-03-20T22:39:23.669343
18,c9419445-f2e1-470a-b6c3-76e82734baec,3db937ee-c068-4123-840e-83957a6060ce,wishlist_remove,44fb9370-0b33-41da-bcc2-425f216348af,NaN,2025-03-20T22:39:28.883395
19,01250944-4e91-4cbd-a89d-a8fbc3cfc648,e5e8b3a7-ccc2-40c8-95e7-402d38a546be,apply_coupon,e2178130-cfb5-4717-b180-bdea2ba13bd8,128.51,2025-03-20T22:39:33.483837

C:\Users\Tammana Triveni\anaconda3\Lib\site-packages\google\cloud\bigquery\_pandas_helpers.py:483: FutureWarning: Loading pandas DataFrame into BigQuery will require pandas-gbq package version 0.26.1 or greater in the future. Tried to import pandas-gbq and got: No module named 'pandas_gbq'
  warnings.warn(